@mixin fa-color($fa-primary-color, $secondary-color: $fa-primary-color, $primary-opacity: 1, $secondary-opacity: 1){
  --fa-primary-opacity: #{$primary-opacity};
  --fa-secondary-opacity: #{$secondary-opacity};
  --fa-primary-color: #{$fa-primary-color};
  --fa-secondary-color: #{$secondary-color};
}
