@mixin fa-color(
  $fa-primary-color,
  $secondary-color: $fa-primary-color,
  $primary-opacity: false,
  $secondary-opacity: false
) {

  @if $primary-opacity {
    --fa-primary-opacity: #{$primary-opacity};
  }

  @if $secondary-opacity {
    --fa-secondary-opacity: #{$secondary-opacity};
  }

  --fa-primary-color: #{$fa-primary-color};
  --fa-secondary-color: #{$secondary-color};
}
