%battery {
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 1;
  --fa-secondary-color: $battery-outline;
}

.#{$fac-css-prefix}-battery-bolt {
  @extend %battery;
  --fa-primary-color: #{$battery-bolt-color};
}

.#{$fac-css-prefix}-battery-full {
  @extend %battery;
  --fa-primary-color: #{$battery-full-color};
}

.#{$fac-css-prefix}-battery-three-quarters {
  @extend %battery;
  --fa-primary-color: #{$battery-three-quarters-color};
}

.#{$fac-css-prefix}-battery-half {
  @extend %battery;
  --fa-primary-color: #{$battery-half-color};
}

.#{$fac-css-prefix}-battery-quarter {
  @extend %battery;
  --fa-primary-color: #{$battery-quarter-color};
}

.#{$fac-css-prefix}-battery-empty {
  @extend %battery;
  --fa-primary-color: #{$battery-empty-color};
}

.#{$fac-css-prefix}-battery-slash {
  @extend %battery;
  --fa-primary-color: #{$battery-slash-color};
}
