.#{$fac-css-prefix}-calendar,
.#{$fac-css-prefix}-calendar-alt,
.#{$fac-css-prefix}-calendar-check,
.#{$fac-css-prefix}-calendar-day,
.#{$fac-css-prefix}-calendar-edit,
.#{$fac-css-prefix}-calendar-exclamation,
.#{$fac-css-prefix}-calendar-minus,
.#{$fac-css-prefix}-calendar-plus,
.#{$fac-css-prefix}-calendar-star,
.#{$fac-css-prefix}-calendar-times,
.#{$fac-css-prefix}-calendar-week {
  @include fa-color($red, $white);
}

.#{$fac-css-prefix}-calendar-check {
  --fa-primary-color: #{$green};
}

.#{$fac-css-prefix}-calendar-edit {
  --fa-primary-color: #{$blue-light};
}

.#{$fac-css-prefix}-calendar-exclamation {
  --fa-primary-color: #{$orange};
}

.#{$fac-css-prefix}-calendar-plus {
  --fa-primary-color: #{$green};
}

.#{$fac-css-prefix}-calendar-star {
  --fa-primary-color: #{$yellow};
}
