.#{$fac-css-prefix}-angry,
.#{$fac-css-prefix}-dizzy,
.#{$fac-css-prefix}-flushed,
.#{$fac-css-prefix}-frown,
.#{$fac-css-prefix}-frown-open,
.#{$fac-css-prefix}-grimace,
.#{$fac-css-prefix}-grin,
.#{$fac-css-prefix}-grin-alt,
.#{$fac-css-prefix}-grin-beam,
.#{$fac-css-prefix}-grin-beam-sweat,
.#{$fac-css-prefix}-grin-hearts,
.#{$fac-css-prefix}-grin-squint,
.#{$fac-css-prefix}-grin-squint-tears,
.#{$fac-css-prefix}-grin-stars,
.#{$fac-css-prefix}-grin-tears,
.#{$fac-css-prefix}-grin-tongue,
.#{$fac-css-prefix}-grin-tongue-squint,
.#{$fac-css-prefix}-grin-tongue-wink,
.#{$fac-css-prefix}-grin-wink,
.#{$fac-css-prefix}-kiss,
.#{$fac-css-prefix}-kiss-beam,
.#{$fac-css-prefix}-kiss-wink-heart,
.#{$fac-css-prefix}-laugh,
.#{$fac-css-prefix}-laugh-beam,
.#{$fac-css-prefix}-laugh-squint,
.#{$fac-css-prefix}-laugh-wink,
.#{$fac-css-prefix}-meh,
.#{$fac-css-prefix}-meh-blank,
.#{$fac-css-prefix}-meh-rolling-eyes,
.#{$fac-css-prefix}-sad-cry,
.#{$fac-css-prefix}-sad-tear,
.#{$fac-css-prefix}-smile,
.#{$fac-css-prefix}-smile-beam,
.#{$fac-css-prefix}-smile-plus,
.#{$fac-css-prefix}-smile-wink,
.#{$fac-css-prefix}-surprise,
.#{$fac-css-prefix}-tired {
  @include fa-color($emoji-eyes, $emoji-face);
}

.#{$fac-css-prefix}-grin-hearts,
.#{$fac-css-prefix}-kiss-wink-heart {
  --fa-primary-color: #{$emoji-heart};
}

.#{$fac-css-prefix}-dizzy {
  --fa-primary-color: #{$emoji-x};
}

.#{$fac-css-prefix}-grin-beam-sweat {
  --fa-primary-color: #{$emoji-sweat};
}

.#{$fac-css-prefix}-grin-squint-tears,
.#{$fac-css-prefix}-grin-tears,
.#{$fac-css-prefix}-sad-cry,
.#{$fac-css-prefix}-sad-tear {
  --fa-primary-color: #{$emoji-tears};
}

.#{$fac-css-prefix}-grin-tongue,
.#{$fac-css-prefix}-grin-tongue-squint,
.#{$fac-css-prefix}-grin-tongue-wink {
  --fa-primary-color: #{$emoji-tongue};
}
