.#{$fac-css-prefix}-file,
.#{$fac-css-prefix}-file-alt,
.#{$fac-css-prefix}-file-archive,
.#{$fac-css-prefix}-file-audio,
.#{$fac-css-prefix}-file-certificate,
.#{$fac-css-prefix}-file-chart-line,
.#{$fac-css-prefix}-file-chart-pie,
.#{$fac-css-prefix}-file-check,
.#{$fac-css-prefix}-file-code,
.#{$fac-css-prefix}-file-contract,
.#{$fac-css-prefix}-file-csv,
.#{$fac-css-prefix}-file-download,
.#{$fac-css-prefix}-file-edit,
.#{$fac-css-prefix}-file-excel,
.#{$fac-css-prefix}-file-exclamation,
.#{$fac-css-prefix}-file-export,
.#{$fac-css-prefix}-file-image,
.#{$fac-css-prefix}-file-import,
.#{$fac-css-prefix}-file-invoice,
.#{$fac-css-prefix}-file-invoice-dollar,
.#{$fac-css-prefix}-file-medical,
.#{$fac-css-prefix}-file-medical-alt,
.#{$fac-css-prefix}-file-minus,
.#{$fac-css-prefix}-file-music,
.#{$fac-css-prefix}-file-pdf,
.#{$fac-css-prefix}-file-plus,
.#{$fac-css-prefix}-file-powerpoint,
.#{$fac-css-prefix}-file-prescription,
.#{$fac-css-prefix}-file-search,
.#{$fac-css-prefix}-file-signature,
.#{$fac-css-prefix}-file-spreadsheet,
.#{$fac-css-prefix}-file-times,
.#{$fac-css-prefix}-file-upload,
.#{$fac-css-prefix}-file-user,
.#{$fac-css-prefix}-file-video,
.#{$fac-css-prefix}-file-word,
.#{$fac-css-prefix}-files-medical {
  @include fa-color($file-primary-color, $file-secondary-color);
}

.#{$fac-css-prefix}-file {
  --fa-primary-color: #{$file-color};
}

.#{$fac-css-prefix}-file-alt {
  --fa-primary-color: #{$file-file-alt-color};
}

.#{$fac-css-prefix}-file-archive {
  --fa-primary-color: #{$file-archive-color};
}

.#{$fac-css-prefix}-file-audio {
  --fa-primary-color: #{$file-audio-color};
}

.#{$fac-css-prefix}-file-certificate {
  --fa-primary-color: #{$file-certificate-color};
}

.#{$fac-css-prefix}-file-chart-line {
  --fa-primary-color: #{$file-chart-line-color};
}

.#{$fac-css-prefix}-file-chart-pie {
  --fa-primary-color: #{$file-chart-pie-color};
}

.#{$fac-css-prefix}-file-check {
  --fa-primary-color: #{$file-check-color};
}

.#{$fac-css-prefix}-file-code {
  --fa-primary-color: #{$file-code-color};
}

.#{$fac-css-prefix}-file-contract {
  --fa-primary-color: #{$file-contract-color};
}

.#{$fac-css-prefix}-file-csv {
  --fa-primary-color: #{$file-csv-color};
}

.#{$fac-css-prefix}-file-download {
  --fa-primary-color: #{$file-download-color};
}

.#{$fac-css-prefix}-file-edit {
  --fa-primary-color: #{$file-edit-color};
}

.#{$fac-css-prefix}-file-excel {
  --fa-primary-color: #{$file-excel-color};
}

.#{$fac-css-prefix}-file-exclamation {
  --fa-primary-color: #{$file-exclamation-color};
}

.#{$fac-css-prefix}-file-export {
  --fa-primary-color: #{$file-export-color};
}

.#{$fac-css-prefix}-file-image {
  --fa-primary-color: #{$file-image-color};
}

.#{$fac-css-prefix}-file-import {
  --fa-primary-color: #{$file-import-color};
}

.#{$fac-css-prefix}-file-invoice {
  --fa-primary-color: #{$file-invoice-color};
}

.#{$fac-css-prefix}-file-invoice-dollar {
  --fa-primary-color: #{$file-invoice-dollar-color};
}

.#{$fac-css-prefix}-file-medical {
  --fa-primary-color: #{$file-medical-color};
}

.#{$fac-css-prefix}-file-medical-alt {
  --fa-primary-color: #{$file-medical-alt-color};
}

.#{$fac-css-prefix}-file-minus {
  --fa-primary-color: #{$file-minus-color};
}

.#{$fac-css-prefix}-file-music {
  --fa-primary-color: #{$file-music-color};
}

.#{$fac-css-prefix}-file-pdf {
  --fa-primary-color: #{$file-pdf-color};
}

.#{$fac-css-prefix}-file-plus {
  --fa-primary-color: #{$file-plus-color};
}

.#{$fac-css-prefix}-file-powerpoint {
  --fa-primary-color: #{$file-powerpoint-color};
}

.#{$fac-css-prefix}-file-prescription {
  --fa-primary-color: #{$file-prescription-color};
}

.#{$fac-css-prefix}-file-search {
  --fa-primary-color: #{$file-search-color};
}

.#{$fac-css-prefix}-file-signature {
  --fa-primary-color: #{$file-signature-color};
}

.#{$fac-css-prefix}-file-spreadsheet {
  --fa-primary-color: #{$file-spreadsheet-color};
}

.#{$fac-css-prefix}-file-times {
  --fa-primary-color: #{$file-times-color};
}

.#{$fac-css-prefix}-file-upload {
  --fa-primary-color: #{$file-upload-color};
}

.#{$fac-css-prefix}-file-user {
  --fa-primary-color: #{$file-user-color};
}

.#{$fac-css-prefix}-file-video {
  --fa-primary-color: #{$file-video-color};
}

.#{$fac-css-prefix}-file-word {
  --fa-primary-color: #{$file-word-color};
}

.#{$fac-css-prefix}-files-medical {
  --fa-primary-color: #{$file-medical-color};
}
