.#{$fac-css-prefix}-hand-heart,
.#{$fac-css-prefix}-hand-holding,
.#{$fac-css-prefix}-hand-holding-box,
.#{$fac-css-prefix}-hand-holding-heart,
.#{$fac-css-prefix}-hand-holding-magic,
.#{$fac-css-prefix}-hand-holding-medical,
.#{$fac-css-prefix}-hand-holding-seedling,
.#{$fac-css-prefix}-hand-holding-usd,
.#{$fac-css-prefix}-hand-holding-water,
.#{$fac-css-prefix}-hand-lizard,
.#{$fac-css-prefix}-hand-middle-finger,
.#{$fac-css-prefix}-hand-paper,
.#{$fac-css-prefix}-hand-peace,
.#{$fac-css-prefix}-hand-point-down,
.#{$fac-css-prefix}-hand-point-left,
.#{$fac-css-prefix}-hand-point-right,
.#{$fac-css-prefix}-hand-point-up,
.#{$fac-css-prefix}-hand-pointer,
.#{$fac-css-prefix}-hand-receiving,
.#{$fac-css-prefix}-hand-rock,
.#{$fac-css-prefix}-hand-scissors,
.#{$fac-css-prefix}-hand-sparkles,
.#{$fac-css-prefix}-hand-spock,
.#{$fac-css-prefix}-hands,
.#{$fac-css-prefix}-hands-heart,
.#{$fac-css-prefix}-hands-helping,
.#{$fac-css-prefix}-hands-usd,
.#{$fac-css-prefix}-hands-wash,
.#{$fac-css-prefix}-handshake,
.#{$fac-css-prefix}-handshake-alt,
.#{$fac-css-prefix}-handshake-alt-slash,
.#{$fac-css-prefix}-handshake-slash,
.#{$fac-css-prefix}-thumbs-down,
.#{$fac-css-prefix}-praying-hands,
.#{$fac-css-prefix}-fist-raised,
.#{$fac-css-prefix}-thumbs-up {
  @include fa-color($flesh);
}

.#{$fac-css-prefix}-hand-holding-box,
.#{$fac-css-prefix}-hand-receiving {
  --fa-primary-color: #{$gray};
}

.#{$fac-css-prefix}-hand-holding-heart,
.#{$fac-css-prefix}-hand-holding-medical,
.#{$fac-css-prefix}-hands-heart,
.#{$fac-css-prefix}-handshake-alt-slash,
.#{$fac-css-prefix}-handshake-slash {
  --fa-primary-color: #{$red};
}

.#{$fac-css-prefix}-hand-holding-magic,
.#{$fac-css-prefix}-hand-holding-water,
.#{$fac-css-prefix}-hands-wash {
  --fa-primary-color: #{$blue-light};
}

.#{$fac-css-prefix}-hand-holding-seedling,
.#{$fac-css-prefix}-hand-holding-usd,
.#{$fac-css-prefix}-hands-usd {
  --fa-primary-color: #{$green};
}

.#{$fac-css-prefix}-thumbs-down,
.#{$fac-css-prefix}-thumbs-up,
.#{$fac-css-prefix}-hand-point-down,
.#{$fac-css-prefix}-hand-point-left,
.#{$fac-css-prefix}-hand-point-right,
.#{$fac-css-prefix}-hand-point-up,
.#{$fac-css-prefix}-handshake {
  --fa-primary-color: #{$blue};
}

.#{$fac-css-prefix}-hand-sparkles {
  --fa-primary-color: #{$yellow};
}

.#{$fac-css-prefix}-hand-pointer {
  --fa-primary-color: #{$gray};
  --fa-secondary-color: #{$white};
}
