.#{$fa-css-prefix}-user,
.#{$fa-css-prefix}-user-alien,
.#{$fa-css-prefix}-user-alt,
.#{$fa-css-prefix}-user-alt-slash,
.#{$fa-css-prefix}-user-astronaut,
.#{$fa-css-prefix}-user-chart,
.#{$fa-css-prefix}-user-check,
.#{$fa-css-prefix}-user-circle,
.#{$fa-css-prefix}-user-clock,
.#{$fa-css-prefix}-user-cog,
.#{$fa-css-prefix}-user-cowboy,
.#{$fa-css-prefix}-user-crown,
.#{$fa-css-prefix}-user-edit,
.#{$fa-css-prefix}-user-friends,
.#{$fa-css-prefix}-user-graduate,
.#{$fa-css-prefix}-user-hard-hat,
.#{$fa-css-prefix}-user-headset,
.#{$fa-css-prefix}-user-injured,
.#{$fa-css-prefix}-user-lock,
.#{$fa-css-prefix}-user-md,
.#{$fa-css-prefix}-user-md-chat,
.#{$fa-css-prefix}-user-minus,
.#{$fa-css-prefix}-user-music,
.#{$fa-css-prefix}-user-ninja,
.#{$fa-css-prefix}-user-nurse,
.#{$fa-css-prefix}-user-plus,
.#{$fa-css-prefix}-user-robot,
.#{$fa-css-prefix}-user-secret,
.#{$fa-css-prefix}-user-shield,
.#{$fa-css-prefix}-user-slash,
.#{$fa-css-prefix}-user-tag,
.#{$fa-css-prefix}-user-tie,
.#{$fa-css-prefix}-user-times,
.#{$fa-css-prefix}-user-unlock,
.#{$fa-css-prefix}-user-visor,
.#{$fa-css-prefix}-users,
.#{$fa-css-prefix}-users-class,
.#{$fa-css-prefix}-users-cog,
.#{$fa-css-prefix}-users-crown,
.#{$fa-css-prefix}-users-medical,
.#{$fa-css-prefix}-users-slash,
.#{$fa-css-prefix}-hospital-user {
  @include fa-color($black);
}

.#{$fa-css-prefix}-user-alien {
  --fa-secondary-color: #{$green-light};
}

.#{$fa-css-prefix}-user-check,
.#{$fa-css-prefix}-user-chart {
  --fa-secondary-color: #{$green};
}

.#{$fa-css-prefix}-users,
.#{$fa-css-prefix}-user-friends,
.#{$fa-css-prefix}-users-cog,
.#{$fa-css-prefix}-user-tag,
.#{$fa-css-prefix}-user-tie,
.#{$fa-css-prefix}-user-robot,
.#{$fa-css-prefix}-user-edit,
.#{$fa-css-prefix}-user-cog,
.#{$fa-css-prefix}-user-astronaut {
  --fa-secondary-color: #{$gray};
}

.#{$fa-css-prefix}-user-slash,
.#{$fa-css-prefix}-users-slash,
.#{$fa-css-prefix}-user-alt-slash {
  --fa-primary-color: #{$red};
}

.#{$fa-css-prefix}-users-medical,
.#{$fa-css-prefix}-user-times,
.#{$fa-css-prefix}-user-minus {
  --fa-secondary-color: #{$red};
}

.#{$fa-css-prefix}-user-hard-hat {
  --fa-primary-color: #{$yellow};
}

.#{$fa-css-prefix}-user-crown,
.#{$fa-css-prefix}-users-crown,
.#{$fa-css-prefix}-user-lock,
.#{$fa-css-prefix}-user-unlock {
  --fa-secondary-color: #{$yellow};
}

.#{$fa-css-prefix}-users-class {
  --fa-secondary-color: #{$brown};
}

.#{$fa-css-prefix}-user-visor,
.#{$fa-css-prefix}-user-secret,
.#{$fa-css-prefix}-user-nurse,
.#{$fa-css-prefix}-user-ninja,
.#{$fa-css-prefix}-user-md,
.#{$fa-css-prefix}-user-md-chat,
.#{$fa-css-prefix}-user-graduate,
.#{$fa-css-prefix}-user-cowboy {
  --fa-secondary-color: #{$flesh};
}

.#{$fa-css-prefix}-user-shield {
  --fa-secondary-color: #{$gray-light};
}

.#{$fa-css-prefix}-user-plus {
  --fa-secondary-color: #{$red};
}

.#{$fa-css-prefix}-user-music,
.#{$fa-css-prefix}-user-md,
.#{$fa-css-prefix}-user-md-chat {
  --fa-primary-color: #{$blue-light};
}

.#{$fa-css-prefix}-user-headset,
.#{$fa-css-prefix}-user-clock,
.#{$fa-css-prefix}-user-circle {
  --fa-secondary-color: #{$blue-light};
}

.#{$fa-css-prefix}-user-circle {
  --fa-primary-color: #{$white};
}

.#{$fa-css-prefix}-user-injured {
  --fa-secondary-color: #{$white};
}
