.#{$fac-css-prefix}-user,
.#{$fac-css-prefix}-user-alien,
.#{$fac-css-prefix}-user-alt,
.#{$fac-css-prefix}-user-alt-slash,
.#{$fac-css-prefix}-user-astronaut,
.#{$fac-css-prefix}-user-chart,
.#{$fac-css-prefix}-user-check,
.#{$fac-css-prefix}-user-circle,
.#{$fac-css-prefix}-user-clock,
.#{$fac-css-prefix}-user-cog,
.#{$fac-css-prefix}-user-cowboy,
.#{$fac-css-prefix}-user-crown,
.#{$fac-css-prefix}-user-edit,
.#{$fac-css-prefix}-user-friends,
.#{$fac-css-prefix}-user-graduate,
.#{$fac-css-prefix}-user-hard-hat,
.#{$fac-css-prefix}-user-headset,
.#{$fac-css-prefix}-user-injured,
.#{$fac-css-prefix}-user-lock,
.#{$fac-css-prefix}-user-md,
.#{$fac-css-prefix}-user-md-chat,
.#{$fac-css-prefix}-user-minus,
.#{$fac-css-prefix}-user-music,
.#{$fac-css-prefix}-user-ninja,
.#{$fac-css-prefix}-user-nurse,
.#{$fac-css-prefix}-user-plus,
.#{$fac-css-prefix}-user-robot,
.#{$fac-css-prefix}-user-secret,
.#{$fac-css-prefix}-user-shield,
.#{$fac-css-prefix}-user-slash,
.#{$fac-css-prefix}-user-tag,
.#{$fac-css-prefix}-user-tie,
.#{$fac-css-prefix}-user-times,
.#{$fac-css-prefix}-user-unlock,
.#{$fac-css-prefix}-user-visor,
.#{$fac-css-prefix}-users,
.#{$fac-css-prefix}-users-class,
.#{$fac-css-prefix}-users-cog,
.#{$fac-css-prefix}-users-crown,
.#{$fac-css-prefix}-users-medical,
.#{$fac-css-prefix}-users-slash,
.#{$fac-css-prefix}-hospital-user {
  @include fa-color($black);
}

.#{$fac-css-prefix}-user-alien {
  --fa-secondary-color: #{$green-light};
}

.#{$fac-css-prefix}-user-check,
.#{$fac-css-prefix}-user-chart {
  --fa-secondary-color: #{$green};
}

.#{$fac-css-prefix}-users,
.#{$fac-css-prefix}-user-friends,
.#{$fac-css-prefix}-users-cog,
.#{$fac-css-prefix}-user-tag,
.#{$fac-css-prefix}-user-tie,
.#{$fac-css-prefix}-user-robot,
.#{$fac-css-prefix}-user-edit,
.#{$fac-css-prefix}-user-cog,
.#{$fac-css-prefix}-user-astronaut {
  --fa-secondary-color: #{$gray};
}

.#{$fac-css-prefix}-user-slash,
.#{$fac-css-prefix}-users-slash,
.#{$fac-css-prefix}-user-alt-slash {
  --fa-primary-color: #{$red};
}

.#{$fac-css-prefix}-users-medical,
.#{$fac-css-prefix}-user-times,
.#{$fac-css-prefix}-user-minus {
  --fa-secondary-color: #{$red};
}

.#{$fac-css-prefix}-user-hard-hat {
  --fa-primary-color: #{$yellow};
}

.#{$fac-css-prefix}-user-crown,
.#{$fac-css-prefix}-users-crown,
.#{$fac-css-prefix}-user-lock,
.#{$fac-css-prefix}-user-unlock {
  --fa-secondary-color: #{$yellow};
}

.#{$fac-css-prefix}-users-class {
  --fa-secondary-color: #{$brown};
}

.#{$fac-css-prefix}-user-visor,
.#{$fac-css-prefix}-user-secret,
.#{$fac-css-prefix}-user-nurse,
.#{$fac-css-prefix}-user-ninja,
.#{$fac-css-prefix}-user-md,
.#{$fac-css-prefix}-user-md-chat,
.#{$fac-css-prefix}-user-graduate,
.#{$fac-css-prefix}-user-cowboy {
  --fa-secondary-color: #{$flesh};
}

.#{$fac-css-prefix}-user-shield {
  --fa-secondary-color: #{$gray-light};
}

.#{$fac-css-prefix}-user-plus {
  --fa-secondary-color: #{$red};
}

.#{$fac-css-prefix}-user-music,
.#{$fac-css-prefix}-user-md,
.#{$fac-css-prefix}-user-md-chat {
  --fa-primary-color: #{$blue-light};
}

.#{$fac-css-prefix}-user-headset,
.#{$fac-css-prefix}-user-clock,
.#{$fac-css-prefix}-user-circle {
  --fa-secondary-color: #{$blue-light};
}

.#{$fac-css-prefix}-user-circle {
  --fa-primary-color: #{$white};
}

.#{$fac-css-prefix}-user-injured {
  --fa-secondary-color: #{$white};
}
