$transparent:          transparent !default

// Emoji
$emoji-face:      #ffdc1e
$emoji-eyes:      #495057
$emoji-tongue:    #fb153f
$emoji-tears:     #add8e6
$emoji-sweat:     #add8e6
$emoji-heart:     #fb153f
$emoji-x:         #adff2f

// Battery
$battery-outline:              $gray
$battery-bolt-color:           $yellow
$battery-full-color:           $green
$battery-three-quarters-color: $yellow
$battery-half-color:           $orange
$battery-quarter-color:        $red
$battery-empty-color:          $gray
$battery-slash-color:          $red
